.container{
    margin-bottom:60px;
}
.caro-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding:20px 40px;
}
.price{
    color: #ff136f;
}
.by-now-btn{
    background-color: #ff136f;
    border: none;
    border-radius:3px;
    color: #fff;
    padding:3px 6px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color:royalblue;
}
.cat3{
    background-color:darkseagreen;
}
.cat1,.cat2,.cat3{
    padding: 10px 30px;
    border-radius: 9px;
}
.categores h1{
    color: white;
}
.categores img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 15px #ddd;
    border-radius: 7px;
}
.card-footer{
    border-top: none;
    background-color: #fff;
}
.subscribe{
    
    height: 300px;
}
